body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    padding-top: 69px;
    background-color: #fafafa;
}

body div{
    background-color: #FAFAFA;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top:0px;
    left: 0px;

    z-index: 10;

    width: 100%;
    height: 69px;

    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-weight: bold;
    font-size: 37px;
    color: #FFFFFF;
}

.main-page {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: 20px;

    margin: auto;
}

.all-quizzes-header{
    width: 1051px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 10px;
}

.created-quizzes{
    width: 1051px;

    display: flex;
    justify-content: center;
    margin: 70px auto;

   
}

.no-quizz{
    width: 100%;
    height: 180px;

    text-align: center;

    border: 1px dashed #D5D5D5;
    
    
    border-radius: 5px;
}

.no-quizz p {
    margin-top: 50px;
    margin-bottom: 15px;

    color: #d5d5d5;
    
}

.create-quizz{
    width: 150px;
    height: 40px;

    background-color: #fafafa;
    border-radius: 50px;
    border: 1px dashed #EC362D;

    color: #EC362D;
}

.create-quizz:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.quizz {
    border-radius: 5px;
    
    overflow-x: hidden;
    
    position: relative;
}

.quizz img {
    width: 340px;
    height: 180px;
    
    border-radius: 5px;

    object-fit: cover;
}

.my-quizzes {
    width: 100%;
    text-align: left;
}

.my-quizzes-header {
    display: flex;
    margin-bottom: 10px;
}

.my-quizzes-header p{
    font-size: 20px;
    font-weight: 700;
}

.my-quizzes-header ion-icon {
    color: #EC362D;
    font-size: 30px;

    margin-left: 10px;
    margin-top: -5px;
}

.all-quizzes {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 10px;
   
}

.created-quizzes strong{
    font-weight: 700;
}

.quizz p{
    position: absolute;
    bottom: 5px;

    color: #ffffff;

    z-index: 5;
}

.quiz-beginning, .questions-creation, .level-creation, .quiz-success{  
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 50px;
}

.quiz-beginning h1, .questions-creation h1, .level-creation h1, .quiz-success h1{ 
    font-weight: bold;
    font-size: 23px;
    color: #000000;
    margin-bottom: 30px;
}

.beginning-board, .questions-creation-board, .level-creation-board{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
    width: 600px;
    
    margin-top: 24px;

    padding: 21px 20px 25px 16px;      
}

.questions-creation-board, .level-creation-board{ 
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.questions-creation-board h2, .level-creation-board h2{                   
    font-weight: bold;
    font-size: 20px;
    
    color: #000000;
}

.questions-creation-board div, .level-creation-board div{
    margin-bottom: 13px;
    background-color: #FFFFFF;
}

.beginning-board input, .questions-creation-board input, .level-creation-board input{
    all: unset;
    box-sizing: border-box;
    
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    
    width: 100%;
    height: 46px;

    background-color: #FFFFFF;
    
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: #000;
    
    padding-left: 14px;
}

.beginning-board input::placeholder, .questions-creation-board input::placeholder, .level-creation-board input::placeholder{
    color:#bababa; 
    font-style: italic;
}

.questions-creation-board ion-icon, .level-creation-board ion-icon{
    font-size: 28px;

    position: absolute;
    top: 18px;
    right: 20px;
}

.quiz-success div img{
    height: 266px;
    width: 500px;

    object-fit: cover;

    border-radius: 5px;
}

.quiz-success div{
    margin-top: 15px;

    overflow:hidden;

    border-radius: 5px;

    position: relative;
}

.quiz-success div:after {
    height: 100%;
    width: 100%;
    content:"";

    border-radius: 5px;

    position:absolute;
    top: 0;
    left: 0;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);

}

.quiz-success div p{
    font-weight: normal;
    font-size: 23px;

    display: flex;
    align-items: center;

    color: #FFFFFF;

    position: absolute;
    left: 23px;
    bottom: 16px;

    z-index: 5;
}

.red-button, .home-button{ 
    all:unset; 
    box-sizing: border-box;

    width: 370px;
    height: 54px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #EC362D;
    border-radius: 15px;

    font-weight: normal;
    font-size: 21px;
    
    color: #FFF5F4;
}

.home-button{ 
    border-color: transparent;

    background: transparent;

    color: #818181;
}

.quiz-beginning button, .questions-creation button, .level-creation button, .quiz-success .red-button{
    margin-top: 85px;
}

.home-button{
    margin-top: 10px;
}

.questions-creation-board ion-icon:hover, .level-creation-board ion-icon:hover, .red-button:hover, .home-button:hover, header h1:hover, .quiz-success div:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

.hide{
    display: none;
}


.quizz-page {
    width: 100%;

    background-color: #e5e5e5;
}

.questions {
    width: 759px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px 50px;

    background-color: #e5e5e5;

    margin: 50px auto;
}

.quizz-title {
    width: 100%;
    height: 222px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-wrap: break-word;

    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    
}

.opacity-layer {
    width: 100%;
    height: 222px;
    background-color: black;
    opacity: 0.6;
    z-index: 1;

    position: absolute;
    top: 0;
}

.quizz-title p{
   font-size: 39px;
   color:#ffffff;
   z-index: 2;
}

.quizz-question {
    width: 759px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizz-question-header {
    width: 688px;
    height: 137px;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 23px;
    color:#ffffff;
}

.quizz-question-answers {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.quizz-answer {
    width: 330px;
    font-size: 20px;
    font-weight: bold;

    word-wrap: break-wordgit;
}

.quizz-answer img {
    width: 330px;
    height: 185px;
}

.unselected {
    opacity: 0.3;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

@media (max-width: 1100px) {
    
    .quiz-beginning, .questions-creation, .level-creation, .quiz-success{
        padding-top: 38px;
    }

    .quiz-beginning h1, .questions-creation h1, .level-creation h1, .quiz-success h1{
        font-size: 20px;

    }

    .beginning-board, .questions-creation-board, .level-creation-board{
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 16px;   
    } 
    
    .quiz-success div img{
        width: 340px;
        height: 181px;
    }

    .quiz-success div p{
        font-size: 19px;
        position: absolute;
        left: 17px;
        bottom: 7px;
    }
    .red-button, .home-button{
        width: 324px;
        font-size: 18px;
    }
    
    .quiz-beginning button, .questions-creation button, .level-creation button, .quiz-success .red-button{
        margin-top: 30px;
    }

    .quizz-question-header, .questions, .quizz-question {
        width: 100%;
    } 

    .quizz-answer {
        width: 163px;
        gap: 10px;
    }

    .quizz-answer img {
        width: 163px;
        height: 113px;
    }

}

@media (max-width: 1040px) {
    .created-quizzes, .all-quizzes-header{
        width: 700px;
    }
}

@media (max-width: 690px) {
    .created-quizzes, .all-quizzes-header{
        width: 340px;
    }
}
